<div class="container">
  <app-loader [isLoading]="isLoading"></app-loader>
  <h4 class="text-center font-weight-bold my-3">RESET PASSWORD</h4>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="form-floating mb-4">
      <!-- <i class="bi bi-lock-fill reg-icons"></i> -->

      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Enter your password"
      />
      <label for="password">Enter your Password</label>

      <div
        class="error-message"
        *ngIf="
          resetPasswordForm.get('password')?.invalid &&
          (resetPasswordForm.get('password')?.dirty ||
            resetPasswordForm.get('password')?.touched)
        "
      >
        <small
            class="text-danger"
            *ngIf="resetPasswordForm.get('password')?.hasError('required')"
          >
            Password is required.
          </small>
          <small
            class="text-danger"
            *ngIf="resetPasswordForm.get('password')?.hasError('pattern')"
          >
            Try a stronger password.
          </small>
        </div>
      </div>



    <div class="form-floating">
      <!-- <i class="bi bi-lock-fill reg-icons"></i> -->
      <!-- <i class="bi bi-key-fill reg-icons"></i> -->

      <input
        id="confirmPassword"
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm your password"
      />
      <label for="confirmPassword">Confirm your Password</label>


      <div class="error-message">
        @if(resetPasswordForm.get('password')?.value &&
        resetPasswordForm.get('confirmPassword')?.value ){
        @if(!(resetPasswordForm.get('password')?.value|
        ismatch:resetPasswordForm.get('confirmPassword')?.value)){
        <small class="text-danger warning-text">
          The passwords you entered don't match.
        </small>
        } }
      </div>
    </div>


    <div class="form-group mt-4">
      <button
        type="submit"
        class="btn btn-dark save-button"
        [disabled]="
          resetPasswordForm.invalid ||
          !(
            resetPasswordForm.get('password')?.value
            | ismatch : resetPasswordForm.get('confirmPassword')?.value
          )
        "
      >
        Save
      </button>
    </div>
  </form>

  <!-- password instruction div -->
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Password Instructions</h5>

      <ul>
        <li>At least 8 characters long</li>
        <li>At least one uppercase letter</li>
        <li>At least one lowercase letter</li>
        <li>At least one number</li>
        <li>At least one special character</li>
      </ul>
    </div>
  </div>

</div>
