<div>
  <!-- universal loader -->
  <app-loader [isLoading]="isLoading"></app-loader>

  <!-- back button -->
  <div class="detail-button">
    <a routerLink="/company/company-details" class="back button detail-back">
      <i class="bi bi-arrow-left text-dark"></i>&nbsp; &nbsp;<span
        class="text-dark"
        >Back</span
      >
    </a>
  </div>

  <!-- invoice header template -->
  <div class="d-flex justify-content-between p-3">
    <h2 class="mb-0">{{ companyName }}/Invoices</h2>
    <div>
      <button
        class="btn btn-primary me-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        <i class="bi bi-search"></i>
      </button>
      <button
        type="button"
        class="btn btn-success me-2"
        (click)="openAddInvoiceModal()"
      >
        <i class="bi bi-plus-lg"></i> Create Invoice
      </button>
    </div>
  </div>

  <!-- SEARCH-FORM -->
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="search-form">
        <form [formGroup]="searchFormData" (ngSubmit)="onSearch()">
          <div class="row">
            <div class="col-2">
              <label for="invoiceNumber">Invoice Number</label>
              <input
                type="text"
                id="invoiceNumber"
                placeholder="Enter Invoice Number"
                formControlName="invoiceNumber"
                class="form-control"
              />
            </div>
            <div class="col-2">
              <label for="peopleName">People Name</label>
              <input
                type="text"
                id="peopleName"
                placeholder="Enter People Name"
                formControlName="peopleName"
                class="form-control"
              />
            </div>
            <div class="col-2">
              <label for="periodEndDate">Period End Date</label>
              <input
                type="date"
                id="periodEndDate"
                formControlName="periodEndDate"
                class="form-control"
              />
            </div>

            <div class="col-2">
              <label for="payrollStatus">Payroll Status</label>
              <select
                id="payrollStatus"
                formControlName="payrollStatus"
                class="form-select"
              >
                <option value="" selected disabled>Select</option>
                <option value="processed">Yes</option>
                <option value="pending">No</option>
              </select>
            </div>
            <div class="col-2">
              <label for="payrollStatus">Email Status</label>
              <select
                id="EmailStatus"
                formControlName="EmailStatus"
                class="form-select"
              >
                <option value="" selected disabled>Select</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="opened">Opened</option>
              </select>
            </div>

            <div class="col-1 d-flex just-content-center">
              <button
                type="button"
                class="btn btn-sm btn-secondary mt-4"
                (click)="onSearchReset()"
              >
                Reset
              </button>
              <button
                type="submit"
                class="btn btn-sm btn-primary mt-4 mx-2"
                [disabled]="isFormEmpty()"
              >
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- invoices kendo grid -->
  <div class="grid-container p-3">
    <kendo-grid
      class="k-grid k-border-none"
      [data]="gridData"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="{
        buttonCount: 5,
        info: true,
        type: 'numeric',
        pageSizes: true,
        previousNext: true
      }"
      (pageChange)="pageChange($event)"
      [loading]="isGridLoading"
    >
      <!--column-invoice number -->
      <kendo-grid-column
        field="invoice_number"
        title="Invoice Number"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="120"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span kendoTooltip [title]="dataItem.invoice_number">{{
            dataItem.invoice_number
          }}</span>
        </ng-template>
      </kendo-grid-column>
      <!--column-assignment number -->
      <kendo-grid-column
        field="assignment_num"
        title="Assgn No."
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="100"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span kendoTooltip [title]="dataItem.assignment_num">{{
            dataItem.assignment_num
          }}</span>
        </ng-template>
      </kendo-grid-column>

      <!--column-customer number -->
      <kendo-grid-column
        field="customer_name"
        title="Customer Name"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="120"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span kendoTooltip [title]="dataItem.customer_name">{{
            dataItem.customer_name
          }}</span>
        </ng-template>
      </kendo-grid-column>

      <!-- column-people name -->
      <kendo-grid-column
        field="people_name"
        title="People Name"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="120"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span kendoTooltip [title]="dataItem.people_name">{{
            dataItem.people_name
          }}</span>
        </ng-template>
      </kendo-grid-column>

      <!-- column-period end date -->
      <kendo-grid-column
        field="period_end_date"
        title="Period End Date"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="110"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span
            kendoTooltip
            [title]="dataItem.period_end_date | date : 'dd-MM-yyyy'"
            >{{ dataItem.period_end_date | date : "dd-MM-yyyy" }}</span
          >
        </ng-template>
      </kendo-grid-column>

      <!-- column-total amount -->
      <kendo-grid-column
        field="total_amount"
        title="Total Amount (£)"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="120"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span kendoTooltip [title]="dataItem.total_amount">{{
            dataItem.total_amount | currency : " "
          }}</span>
        </ng-template>
      </kendo-grid-column>

      <!-- column-email status -->
      <kendo-grid-column
        field="email_status"
        title="Email Status"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="150"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="button-container">
            @if (dataItem.email_status === 'yes' ) {
            <span
              [title]="dataItem.email_status"
              class="badge rounded-pill text-bg-success"
              >Yes</span
            >
            } @else if (dataItem.email_status === 'no'){
            <span
              [title]="dataItem.email_status"
              class="badge rounded-pill text-bg-danger"
              >No</span
            >
            } @else if (dataItem.email_status === 'opened'){
            <span
              [title]="dataItem.email_status"
              class="badge rounded-pill text-bg-info"
              >Opened</span
            >
            }
          </div>
        </ng-template>
      </kendo-grid-column>

      <!-- column-payroll status -->
      <kendo-grid-column
        field="payroll_status"
        title="Payroll Status"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="120"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="button-container">
            @if (dataItem.payroll_status === 'processed' ) {
            <span
              [title]="dataItem.payroll_status"
              class="badge rounded-pill text-bg-success"
              >Yes</span
            >
            } @else if (dataItem.payroll_status === 'pending'){
            <span
              [title]="dataItem.payroll_status"
              class="badge rounded-pill text-bg-danger"
              >No</span
            >
            } @else {
            <span
              [title]="dataItem.payroll_status"
              class="badge rounded-pill text-bg-danger"
              >Failed</span
            >

            }
          </div>
        </ng-template>
      </kendo-grid-column>

      <!-- ACTION -->
      <kendo-grid-column
        field="Action"
        title="Action"
        [headerStyle]="{ 'font-weight': 'bold' }"
        [width]="150"
        [sticky]="true"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- send mail button -->
          <button
            (click)="sendMail(dataItem.invoice_id)"
            [disabled]="isDisabled[dataItem.invoice_id]"
            class="btn btn-sm btn-smaller btn-envelope"
            title="Mail Invoice"
          >
            <i class="fas fa-envelope" style="font-weight: bold"></i>
          </button>

          <!-- download mail button -->
          <button
            (click)="downloadMail(dataItem.invoice_id)"
            class="btn btn-sm btn-smaller btn-download"
            title="Download Invoice"
          >
            <i class="fas fa-download" style="font-weight: bold"></i>
          </button>

          <!-- invoice edit button -->
          <button
            *ngIf="dataItem.payroll_status !== 'processed'"
            class="btn btn-sm btn-smaller btn-edit"
            title="Edit Invoice"
            tooltip="Edit"
            (click)="fetchEditDetails(dataItem.invoice_id)"
          >
            <i class="fas fa-edit" style="font-weight: bold"></i>
          </button>

          <!-- invoice delete button -->
          <button
            *ngIf="dataItem.payroll_status !== 'processed'"
            class="btn btn-sm btn-smaller btn-delete"
            title="Delete Invoice"
            tooltip="Delete"
            data-bs-toggle="modal"
            data-bs-target="#deleteInvoiceModal"
            (click)="setDeleteItem(dataItem.invoice_id)"
          >
            <i class="fas fa-trash" style="font-weight: bold"></i>
          </button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>

<!-- MODALS USED FOR INVOICE PAGE -->

<!-- CREATE MODAL -->
<div
  class="modal fade"
  id="addInvoiceModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addInvoiceLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addInvoiceLabel">Create Invoice</h1>
        <button
          type="button"
          class="btn-close"
          (click)="closeAddInvoiceModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="invoiceForm" class="">
          <div class="row mb-3">
            <div class="col-12">
              <div class="row">
                <h6 class="text-info col-6">Invoice Details</h6>
              </div>
            </div>

            <!-- Assignment Number -->
            <div class="col-4 custom-form-group">
              <b>
                <small>
                  <label class="form-label m-0" for="assignment_number"
                    >Assignment Number</label
                  >
                  <span class="text-danger">*</span>
                </small>
              </b>
              <select
                class="form-select form-select-sm rounded-0"
                name="assignment_number"
                id="assignment_number"
                formControlName="assignmentNumber"
              >
                <option value="null" selected disabled>Select</option>
                <option
                  *ngFor="let assignment of assignments"
                  [value]="assignment.assignment_num"
                >
                  {{ assignment.assignment_num }} - {{ assignment.people_name }}
                </option>
              </select>
              <div
                class="error-message"
                *ngIf="isInputValid('assignmentNumber')"
              >
                <small
                  class="text-danger"
                  *ngIf="
                    invoiceForm.get('assignmentNumber')?.hasError('required')
                  "
                >
                  Assignment number is required.
                </small>
              </div>
            </div>

            <!-- Period End Date -->
            <div class="col-4 custom-form-group">
              <b>
                <small>
                  <label class="form-label m-0" for="period_end_date"
                    >Period End Date</label
                  >
                  <span class="text-danger">*</span>
                </small>
              </b>
              <input
                type="date"
                class="form-control form-control-sm text-dark rounded-0"
                name="period_end_date"
                id="period_end_date"
                formControlName="periodEndDate"
                (click)="handleDatePickerOpen()"
              />
              <div class="error-message" *ngIf="isInputValid('periodEndDate')">
                <small
                  *ngIf="invoiceForm.get('periodEndDate')?.errors?.['required']"
                  >Date is required.</small
                >
                <!-- <small *ngIf="invoiceForm.get('periodEndDate')?.errors?.['invalidDate']">Invalid date format.</small> -->
                <small
                  *ngIf="invoiceForm.get('periodEndDate')?.errors?.['futureDateTooFar'] && invoiceForm.get('periodEndDate')?.dirty"
                  >Date cannot be beyond 1 year.</small
                >
                <small
                  *ngIf="
                    invoiceForm
                      .get('periodEndDate')
                      ?.hasError('pastDateTooFar') &&
                    invoiceForm.get('periodEndDate')?.dirty
                  "
                  >Date cannot be past 1 year.</small
                >
              </div>
              <!-- <div *ngIf="invoiceForm.get('periodEndDate')?.errors?.['required']">Date is required</div> -->
            </div>
            <div
              class="col-2 d-flex mt-3 justify-content-center align-items-center"
            >
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="addLineItem()"
              >
                <i class="bi bi-plus-circle-fill"></i>
              </button>
            </div>
          </div>

          <!-- Line Items -->
          <div formArrayName="lineItems">
            <div
              *ngFor="let item of lineItems.controls; let i = index"
              [formGroupName]="i"
              class="row mb-3"
            >
              <!-- Description -->
              <div class="col-5 custom-form-group">
                <b>
                  <small>
                    <label class="form-label m-0" for="description"
                      >Description</label
                    >
                    <span class="text-danger">*</span>
                  </small>
                </b>
                <input
                  type="text"
                  class="form-control form-control-sm text-dark rounded-0"
                  placeholder="Enter description"
                  id="description"
                  formControlName="description"
                />
                <div
                  class="error-message"
                  *ngIf="isLineItemValid(i, 'description')"
                >
                  <small
                    class="text-danger"
                    *ngIf="
                      lineItems.at(i).get('description')?.hasError('required')
                    "
                  >
                    Description is required.
                  </small>
                </div>
              </div>

              <!-- Quantity -->
              <div class="col-3 custom-form-group">
                <b>
                  <small>
                    <label class="form-label m-0" for="quantity"
                      >Quantity</label
                    >
                    <span class="text-danger">*</span>
                  </small>
                </b>
                <input
                  id="quantity"
                  type="number"
                  class="form-control form-control-sm text-dark rounded-0"
                  placeholder="Enter Quantity"
                  formControlName="quantity"
                />
                <div
                  class="error-message"
                  *ngIf="isLineItemValid(i, 'quantity')"
                >
                  <small
                    class="text-danger"
                    *ngIf="
                      lineItems.at(i).get('quantity')?.hasError('required')
                    "
                  >
                    Quantity is required.
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      lineItems.at(i).get('quantity')?.hasError('positive')
                    "
                  >
                    Quantity can't be Negative.
                  </small>
                </div>
              </div>

              <!-- Unit Price -->
              <div class="col-3 custom-form-group">
                <b>
                  <small>
                    <label class="form-label m-0" for="unit_price"
                      >Unit Price</label
                    >
                    <span class="text-danger">*</span>
                  </small>
                </b>
                <input
                  id="unit_price"
                  type="number"
                  class="form-control form-control-sm text-dark rounded-0"
                  placeholder="Enter Unit Price"
                  name="unit_price"
                  formControlName="unitPrice"
                />
                <div
                  class="error-message"
                  *ngIf="isLineItemValid(i, 'unitPrice')"
                >
                  <small
                    class="text-danger"
                    *ngIf="
                      lineItems.at(i).get('unitPrice')?.hasError('required')
                    "
                  >
                    Unit price is required.
                  </small>
                </div>
              </div>

              <!-- Remove Button -->
              <div
                class="col-1 d-flex align-items-center just-content-center mt-3"
              >
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="removeLineItem(i)"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Add Line Item Button -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="closeAddInvoiceModal()"
        >
          Close
        </button>

        <button
          type="reset"
          class="btn btn-sm btn-info"
          (click)="resetCreateForm()"
        >
          Reset
        </button>

        <button
          type="submit"
          class="btn btn-sm btn-success"
          [disabled]="invoiceForm.invalid"
          (click)="onCreateSubmit()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE MODAL -->
<div
  class="modal fade"
  id="editInvoiceModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="EditInvoiceLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditInvoiceLabel">Edit Invoice</h1>
        <button
          type="button"
          class="btn-close"
          (click)="closeEditInvoiceModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editInvoiceForm" class="">
          <div class="row mb-3">
            <div class="col-12">
              <div class="row">
                <h6 class="text-info col-6">Invoice Details</h6>
              </div>
            </div>

            <!-- Assignment Number -->
            <div class="col-4 custom-form-group">
              <b>
                <small>
                  <label class="form-label m-0" for="assignment_number"
                    >Assignment Number</label
                  >
                  <span class="text-danger">*</span>
                </small>
              </b>
              <select
                class="form-select form-select-sm rounded-0"
                name="assignment_number"
                id="assignment_number"
                formControlName="assignmentNumber"
              >
                <option value="null" selected disabled>Select</option>
                <option
                  *ngFor="let assignment of assignments"
                  [value]="assignment.assignment_num"
                  disabled
                >
                  {{ assignment.assignment_num }} - {{ assignment.people_name }}
                </option>
              </select>
              <div
                class="error-message"
                *ngIf="isEditInputValid('assignmentNumber')"
              >
                <small
                  class="text-danger"
                  *ngIf="
                    editInvoiceForm
                      .get('assignmentNumber')
                      ?.hasError('required')
                  "
                >
                  Assignment number is required.
                </small>
              </div>
            </div>

            <!-- Period End Date -->
            <div class="col-4 custom-form-group">
              <b>
                <small>
                  <label class="form-label m-0" for="period_end_date"
                    >Period End Date</label
                  >
                  <span class="text-danger">*</span>
                </small>
              </b>
              <input
                type="date"
                class="form-control form-control-sm text-dark rounded-0"
                name="period_end_date"
                id="period_end_date"
                formControlName="periodEndDate"
              />
              <div
                class="error-message"
                *ngIf="isEditInputValid('periodEndDate')"
              >
                <small
                  *ngIf="
                    editInvoiceForm.get('periodEndDate')?.hasError('required')
                  "
                  >Date is required.</small
                >
                <!-- <small *ngIf="invoiceForm.get('periodEndDate')?.errors?.['invalidDate']">Invalid date format.</small> -->
                <small
                  *ngIf="
                    editInvoiceForm
                      .get('periodEndDate')
                      ?.hasError('futureDateTooFar')
                  "
                  >Enter a date within 1 year.</small
                >
                <small
                  *ngIf="
                    editInvoiceForm
                      .get('periodEndDate')
                      ?.hasError('pastDateTooFar')
                  "
                  >Date cannot be past 1 year.</small
                >
              </div>
            </div>
            <div
              class="col-2 d-flex mt-3 justify-content-center align-items-center"
            >
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="addEditLineItem()"
              >
                <i class="bi bi-plus-circle-fill"></i>
              </button>
            </div>
          </div>

          <!-- Line Items -->
          <div formArrayName="lineItems">
            <div
              *ngFor="let item of EditLineItems.controls; let i = index"
              [formGroupName]="i"
              class="row mb-3"
            >
              <!-- Description -->
              <div class="col-5 custom-form-group">
                <b>
                  <small>
                    <label class="form-label m-0" for="description"
                      >Description</label
                    >
                    <span class="text-danger">*</span>
                  </small>
                </b>
                <input
                  type="text"
                  class="form-control form-control-sm text-dark rounded-0"
                  placeholder="Enter description"
                  id="description"
                  formControlName="description"
                />
                <div
                  class="error-message"
                  *ngIf="isEditLineItemValid(i, 'description')"
                >
                  <small
                    class="text-danger"
                    *ngIf="
                      EditLineItems.at(i)
                        .get('description')
                        ?.hasError('required')
                    "
                  >
                    Description is required.
                  </small>
                </div>
              </div>

              <!-- Quantity -->
              <div class="col-3 custom-form-group">
                <b>
                  <small>
                    <label class="form-label m-0" for="quantity"
                      >Quantity</label
                    >
                    <span class="text-danger">*</span>
                  </small>
                </b>
                <input
                  id="quantity"
                  type="number"
                  class="form-control form-control-sm text-dark rounded-0"
                  placeholder="Enter Quantity"
                  formControlName="quantity"
                />
                <div
                  class="error-message"
                  *ngIf="isEditLineItemValid(i, 'quantity')"
                >
                  <small
                    class="text-danger"
                    *ngIf="
                      EditLineItems.at(i).get('quantity')?.hasError('required')
                    "
                  >
                    Quantity is required.
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      EditLineItems.at(i).get('quantity')?.hasError('positive')
                    "
                  >
                    Quantity can't be Negative.
                  </small>
                </div>
              </div>

              <!-- Unit Price -->
              <div class="col-3 custom-form-group">
                <b>
                  <small>
                    <label class="form-label m-0" for="unit_price"
                      >Unit Price</label
                    >
                    <span class="text-danger">*</span>
                  </small>
                </b>
                <input
                  id="unit_price"
                  type="number"
                  class="form-control form-control-sm text-dark rounded-0"
                  placeholder="Enter unit price"
                  formControlName="unitPrice"
                />
                <div
                  class="error-message"
                  *ngIf="isEditLineItemValid(i, 'unitPrice')"
                >
                  <small
                    class="text-danger"
                    *ngIf="
                      EditLineItems.at(i).get('unitPrice')?.hasError('required')
                    "
                  >
                    Unit price is required.
                  </small>
                </div>
              </div>

              <!-- Remove Line Item Button -->
              <div
                class="col-1 d-flex mt-3 justify-content-center align-items-center"
              >
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="removeEditLineItem(i)"
                >
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeEditInvoiceModal()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onEditSubmit()"
              [disabled]="editInvoiceForm.invalid"
            >
              Update Invoice
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<div
  class="modal fade"
  id="deleteInvoiceModal"
  tabindex="-1"
  aria-labelledby="deleteInvoiceModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteInvoiceModal">Delete</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete the Invoice?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="submitDelete(deleteInvId)"
        >
          Proceed
        </button>
      </div>
    </div>
  </div>
</div>
