<div class="container">
  <app-loader [isLoading]="isLoading"></app-loader>
  <h2 class="text-center font-weight-bold">FORGOT PASSWORD?</h2>
  <div class="pb-5">
    <p class="text-center text-secondary"><small>Don't worry! We'll send a link to your registered email address to reset your password</small></p>
  </div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
    <div class="form-floating">
      <!-- <i class="bi bi-person-circle reg-icons"></i> -->
      <input
        type="text"
        id="identifier"
        class="form-control"
        formControlName="identifier"
        placeholder="Enter your email"
      />
      <label for="email">Email</label>

      <div class="error-message" *ngIf="isInputValid('identifier')">
        <small
          class="text-danger"
          *ngIf="forgotPasswordForm.get('identifier')?.hasError('required')"
        >
          Email is required.
        </small>
        <small
          class="text-danger"
          *ngIf="forgotPasswordForm.get('identifier')?.hasError('email')"
        >
          Enter valid Email
        </small>
        <small
          class="text-danger"
          *ngIf="forgotPasswordForm.get('identifier')?.hasError('maxlength')"
        >
          Should should not exceed 30 Characters.
        </small>
      </div>
    </div>

    <div class="mt-4">
      <button
        type="submit"
        class="btn btn-dark register-button"
        [disabled]="forgotPasswordForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="mt-2 mb-1">
      <p>Go back to
        <span><a style="cursor: pointer;" class="text-secondary" (click)="toLogin()">Login</a></span>
      </p>
    </div>
  </div>
</div>
