<!-- AFA USER SELF REGISTRATION FORM -->

<div class="container">
  <!-- common loader for after submit loading -->
  <app-loader [isLoading]="isLoading"></app-loader>

  

  <!-- registration form template -->
  <form
    [formGroup]="registerOrgForm"
    (ngSubmit)="$event.preventDefault(); registerOrganisation()"
  >
    <!-- first name formgroup -->
    <div class="form-floating mb-3 mt-4">
      <input
        type="text"
        class="form-control reg-form-control"
        id="first_name"
        formControlName="firstName"
        placeholder="Enter First name"
      />
      <label for="first_name">First Name</label>
      <!-- first name error message div -->
      <!-- isInputValid checks the condition dynamically for each inputs -->
      <div class="error-message" *ngIf="isInputValid('firstName')">
        <!-- errors each of type small -->
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('firstName')?.hasError('required')"
        >
          First name is required.
        </small>
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('firstName')?.hasError('pattern')"
        >
          Invalid First name.
        </small>
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('firstName')?.hasError('maxlength')"
        >
          Exceeds 30 characters.
        </small>
      </div>
    </div>

    <!-- surname form group -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="surname"
        formControlName="surName"
        placeholder="Enter Surname"
      />
      <label for="surname">Surname</label>
      <div class="error-message" *ngIf="isInputValid('surName')">
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('surName')?.hasError('required')"
        >
          Surname is required.
        </small>
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('surName')?.hasError('pattern')"
        >
          Invalid Surname.
        </small>
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('surName')?.hasError('maxlength')"
        >
          Exceeds 30 characters.
        </small>
      </div>
    </div>

    <!-- user name form group -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="user_name"
        formControlName="userName"
        placeholder="Enter User name"
      />
      <label for="user_name">User Name</label>
      <div class="error-message" *ngIf="isInputValid('userName')">
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('userName')?.hasError('required')"
        >
          User name is required.
        </small>
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('userName')?.hasError('pattern')"
        >
          Invalid User name.
        </small>
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('userName')?.hasError('maxlength')"
        >
          Exceeds 30 characters.
        </small>
      </div>
    </div>

    <!-- organisation name form group -->
    <div class="reg-form-group">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="org_name"
          formControlName="organisationName"
          placeholder="Enter Organisation name"
        />
        <label for="org_name">Organisation Name</label>
        <div class="error-message" *ngIf="isInputValid('organisationName')">
          <small
            class="text-danger"
            *ngIf="registerOrgForm.get('organisationName')?.hasError('required')"
          >
            Organisation is required.
          </small>
          <small
            class="text-danger"
            *ngIf="registerOrgForm.get('organisationName')?.hasError('pattern')"
          >
            Invalid Organisation name.
          </small>
          <small
            class="text-danger"
            *ngIf="registerOrgForm.get('organisationName')?.hasError('maxlength')"
          >
            Exceeds 30 characters.
          </small>
        </div>
      </div>
    </div>

    <!-- email address form group -->
    <div class="form-floating form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Enter User Email"
      />
      <label for="email">Email Address</label>
      <div class="error-message" *ngIf="isInputValid('email')">
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('email')?.hasError('required')"
        >
          Email is required.
        </small>
        <small
          class="text-danger"
          *ngIf="registerOrgForm.get('email')?.hasError('pattern')"
        >
          Invalid Email address.
        </small>
      </div>
    </div>

    <!-- submit button -->
    <div class="mt-4">
      <button
        type="submit"
        class="btn btn-dark register-button"
        [disabled]="registerOrgForm.invalid"
      >
        Register
      </button>
    </div>
  </form>

  <!-- links -->
  <div class="login-text">
    <p>
      Already have an account?
      <span
        ><a style="cursor: pointer" class="text-secondary" (click)="isLogin()"
          >Login</a
        >
      </span>
    </p>
  </div>
</div>
