<div class="sidenavbar" [ngClass]="collapsed ? 'sidenavbar-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" *ngIf="collapsed">Angular</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenavbar()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenavbar-nav">
        <li class="sidenavbar-nav-item" *ngFor="let data of navData">
            <a href="" class="sidenavbar-nav-link" [routerLink]="[data.routeLink]">
                <i class="sidenavbar-link-icon" [class]="data.icon"></i>
                <span class="sidenavbar-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>