<!-- common loader -->
<app-loader [isLoading]="isLoading"></app-loader>

<!-- checks for the condition whether password set or not -->
<div class="container" *ngIf="!isPasswordAlreadySet">
  <h4 class="text-center font-weight-bold my-3">SET PASSWORD</h4>



  <!-- password formgroup -->
  <form [formGroup]="enterPasswordForm" (ngSubmit)="submitPassword()">
    <div class="form-floating mb-4">
      <!-- <i class="bi bi-lock-fill reg-icons"></i> -->

      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Enter your password"
      />
      <label for="password">Enter your password</label>

      <!-- error-message div -->
      <div
        class="error-message"
        *ngIf="
          enterPasswordForm.get('password')?.invalid &&
          (enterPasswordForm.get('password')?.dirty ||
            enterPasswordForm.get('password')?.touched)
        "
      >
        <!-- error showcase using small -->
        <small
          class="text-danger"
          *ngIf="enterPasswordForm.get('password')?.hasError('required')"
        >
          Password is required.
        </small>
        <small
          class="text-danger"
          *ngIf="enterPasswordForm.get('password')?.hasError('pattern')"
        >
          Try a stronger password.
        </small>
      </div>
    </div>

    <!-- confirm password form group -->
    <div class="form-floating">
      <!-- <i class="bi bi-lock-fill reg-icons"></i> -->
      <input
        id="confirmPassword"
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm your password"
      />
      <label for="confirmPassword">Confirm your password</label>

      <!-- password and confirm password match check -->
      <div class="error-message">
        @if(enterPasswordForm.get('password')?.value &&
        enterPasswordForm.get('confirmPassword')?.value ){
        @if(!(enterPasswordForm.get('password')?.value|
        ismatch:enterPasswordForm.get('confirmPassword')?.value)){
        <small class="text-danger warning-text">
          The passwords you entered don't match.
        </small>
        } }
      </div>
    </div>

    <!-- save password button -->
    <div class="form-group mt-4">
      <button
        type="submit"
        class="btn btn-dark save-button"
        [disabled]="
          enterPasswordForm.invalid ||
          !(
            enterPasswordForm.get('password')?.value
            | ismatch : enterPasswordForm.get('confirmPassword')?.value
          )
        "
      >
        Save
      </button>
    </div>
  </form>

  <!-- password instruction div -->
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Password Instructions</h5>

      <ul>
        <li>At least 8 characters long</li>
        <li>At least one uppercase letter</li>
        <li>At least one lowercase letter</li>
        <li>At least one number</li>
        <li>At least one special character</li>
      </ul>
    </div>
  </div>
</div>

<!-- if password already set this div is loaded -->
<div *ngIf="isPasswordAlreadySet">
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h5>Your password has already been set.</h5></div>
      <p>Please log in using your username/email address and password.</p>
    </div>
    <div class="login-text pt-2 text-center mb-3">
      <span
        ><a style="cursor: pointer" class="text-secondary" (click)="isLogin()"
          >Login</a
        >
      </span>
    </div>
  </div>
</div>
